.card-list-container{
    padding: 2rem;
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



@media screen and (max-width: 600px){
    .card-list-container{
        padding: 2rem 0;
    }
}