.search-container{
    width: 100%;
    min-width: 300px;
}

.search-container input{
    background: transparent;
    border: none;
    border-bottom: 2px solid gray;
    color: #fff;
    width: 43%;
}

.search-container input:focus{
    outline: none;
}

@media screen and (max-width: 600px){
    .search-container input{
        width: 90%;
    }
}